.mySlides {
    display:none;
}

.firstSlide {
    display:block;
}

/* Slideshow container */
.slideshowCont{
  width:100%;
  position: relative;
  margin: auto;
  display: none;
  margin-top: 15px;
}


.car-image {
    width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #333333;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #333333;
  font-size: 1.4rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
 display: none;
}

.active, .dot:hover {
  background-color: #ffffff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.75s;
  animation-name: fade;
  animation-duration: 1.75s;
}

@-webkit-keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .3} 
  to {opacity: 1}
}


.img_banner{
   width: 100%;
   
}

.erhverv_list {
  list-style: none;
}


.outer_flexbox{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.erhverv_car{
    width: 50%;
    display: flex;
    margin: 0 auto;
    
}

.card {
    padding: 10px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.10);
    border-radius: 10px;
    width: 80%;
   margin: 0 auto;
   margin-top: 25px;
}

.btn {
    display: flex;
    flex-direction: row;
}

.car-button {
    background-color:#264160;
    color: white;
    border-radius: 5px;
    padding: 7.5px;
    margin: 0 auto; 
    display: block;
    box-shadow: none;
    border: none;
    margin-bottom: 10px;
    margin-top: 15px;
    width:30vw;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.10);
}

.car-button:hover {
  cursor: pointer;
}

.sales-card {
   display: flex;
   flex-direction: column;
   text-align: center;
}

.sales-button {
    background-color:#264160;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    padding: 7.5px;
    margin: 0 auto; 
    display: block;
    box-shadow: none;
    border: none;
    margin-bottom: 10px;
    margin-top: 15px;
    width:30vw;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.10);
}

.sales-button, a {
  text-decoration: none;
}



.img{
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
}

#lightbox{
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
}


#lightbox.active{
  display: flex;
  justify-content: center;
  align-items: center;
}


#lightbox img{
  max-width: 100%;
  max-height: 100%;

}





@media (min-width: 48rem){
.img_banner {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.outer_flexbox { 
 width: 100%;
 flex-direction: column;
 justify-content: space-around;
 flex-wrap: wrap;  
 align-items: center;
 margin-top: 50px;
 margin-bottom: 50px;
}
.card{
    width: 100%;
    margin-bottom: 25px;
}

.car-button {
    width: 25%;
}

.slideshowCont {
    width: 80%;
}
#lightbox{
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}


#lightbox.active{
    display: flex;
    justify-content: center;
    align-items: center;
}


#lightbox img{
    max-width: 90%;
    max-height: 90%;

}

.sales-button {
    width: 10%;
}
}